# Firebase Configuration
# Obtén estos valores de tu Firebase Project Settings
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAsmexdB0yFW5Di1aA-00i1aVtKkH7uc18"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="vetinventory-deece.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="vetinventory-deece"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="vetinventory-deece.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="777134850340"
NEXT_PUBLIC_FIREBASE_APP_ID="1:777134850340:web:fa71cf6112638ae7ee33b1"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-EHLFH02XZ8"
